/*
 * A modern CSS reset by Andy Bell
 * https://dev.to/hankchizljaw/a-modern-css-reset-6p3
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 15px;
  color: var(--c-neutral);
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --c-primary: #ffe600;
  --c-neutral: #1e1e1e;
  --c-placeholder: #edf2f6;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s all;
  color: var(--c-neutral);
}
.btn--big {
  padding: 1rem 2rem;
  background-color: var(--c-primary);
}
.btn--big:hover {
  background-color: var(--c-neutral);
  color: var(--c-primary);
}
.btn--small {
  padding: 0.5rem 1rem;
  font-size: 0.8em;
}
.btn--small:hover, .btn--small--selected {
  background-color: var(--c-primary);
  color: var(--c-neutral);
}

/*
 * This file includes layout utility classes which affect all sections
 * or are useful to match the layout design.
 */
.wrapper {
  max-width: 75.125rem;
  margin: auto;
  padding: 0 2rem;
}

.nav {
  padding-top: 2rem;
}
.nav > .wrapper {
  display: flex;
}
.nav__logo {
  height: 3.3125rem;
}
.nav__list {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
.nav__list-item:not(:last-child) {
  margin-right: 5rem;
}
.nav__link {
  display: block;
  color: var(--c-neutral);
  text-decoration: none;
  transition: all 0.2s;
}
.nav__link:hover {
  background-color: var(--c-primary);
}

.header {
  margin-top: 9.625rem;
}
.header > .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header__col-left {
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header__col-right {
  height: 33.75rem;
  background-color: var(--c-placeholder);
}
.header__heading {
  font-size: 3.75em;
  margin-bottom: 1.6rem;
}
.header__text {
  margin-bottom: 2rem;
  font-size: 0.8em;
  line-height: 2.2;
}

.work {
  margin-top: 7rem;
}
.work__heading {
  margin-bottom: 2.5rem;
  font-size: 3.75rem;
  text-transform: uppercase;
}
.work__nav {
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.work__nav-list {
  display: flex;
}
.work__list-item:not(:last-child) {
  margin-right: 1rem;
}
.work__select {
  background-color: transparent;
  border: none;
  font-size: 0.8em;
  text-transform: uppercase;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.75rem;
}
.gallery__col {
  min-height: 50rem;
  display: flex;
  flex-direction: column;
}
.gallery__row {
  background-color: var(--c-placeholder);
}

/*# sourceMappingURL=style.css.map */
