@use 'base/reset';
@use 'base/base';
@use 'base/typography';

@use 'utils/colors';
@use 'utils/variables';

@use 'components/buttons';

@use 'layout/nav';
@use 'layout/header';
@use 'layout/work';
@use 'layout/partners';
@use 'layout/about';
@use 'layout/blog';
@use 'layout/contact';
@use 'layout/footer';
