.blog {
  margin-top: 7.5rem;
  padding: 7.5rem 0;

  background-color: var(--c-bg-alt);

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 4rem;
  }

  &__post-figure {
    background-color: var(--c-placeholder);
    height: 17.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__post-figure--readmore {
    background-color: var(--c-primary);
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__post-box {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    font-size: 0.8em;
    line-height: 2.5;

    > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__post-title {
    font-size: 1.2em;
    text-transform: uppercase;
  }
}
