/*
 * This file includes layout utility classes which affect all sections
 * or are useful to match the layout design.
 */

.wrapper {
  max-width: var(--wrapper-width);
  margin: auto;
  padding: 0 var(--wrapper-h-pad);
}
