@use '../utils/breakpoints';

/*
 * Footer section.
 */
.footer {
  height: 11.25rem;
  background-color: var(--c-neutral);
  color: #fff;
  font-size: 0.8em;

  @include breakpoints.bp('sm') {
    font-size: 0.7em;
  }

  > .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 3.3125rem;
    margin-right: 2rem;
  }

  &__back-link {
    margin-left: auto;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: var(--c-primary);
    }
  }
}
