@use '../utils/breakpoints';

.header {
  margin-top: 9.625rem;

  > .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;

    @include breakpoints.bp('md') {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__col-right {
    height: 33.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoints.bp('md') {
      display: none;
    }

    > .placeholder-img {
      // Aspect ratio 1:1
      padding-bottom: 100%;
    }
  }

  .header__heading {
    font-size: 3.75em;
    margin-bottom: 1.6rem;

    @include breakpoints.bp('lg') {
      font-size: 3em;
    }
  }
}
