@use '../utils/breakpoints';

.work {
  margin-top: 7rem;

  &__nav {
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
  }

  &__nav-list {
    display: flex;
  }

  &__list-item:not(:last-child) {
    margin-right: 1rem;

    @include breakpoints.bp('sm') {
      margin-right: 0.2rem;
    }
  }

  &__select {
    background-color: transparent;
    border: none;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  &__showmore-btn {
    display: flex;
    justify-content: center;
  }
}

.gallery {
  --col-h: 50rem;
  --gap: 1.75rem;

  height: var(--col-h);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--gap);

  margin-bottom: 4rem;

  @include breakpoints.bp('lg') {
    --col-h: 30rem;
  }

  @include breakpoints.bp('md') {
    --col-h: 20rem;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__row {
    background-color: var(--c-placeholder);

    &:not(:last-child) {
      margin-bottom: var(--gap);
    }
  }

  &__col--1 > &__row--1,
  &__col--2 > &__row--2,
  &__col--3 > &__row--1 {
    flex: 0 0 calc(var(--col-h) * 0.4 - var(--gap));
  }

  &__col--1 > &__row--2,
  &__col--2 > &__row--1,
  &__col--3 > &__row--2 {
    flex: 0 0 60%;
  }

  &__col--1 > &__row--1 {
    background-color: var(--c-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;

    > h1 {
      font-size: 2em;
      margin-bottom: 1rem;

      @include breakpoints.bp('lg') {
        font-size: 1.5em;
      }

      @include breakpoints.bp('md') {
        font-size: 1.25em;
      }

      @include breakpoints.bp('sm') {
        font-size: 1em;
      }
    }

    > p {
      font-size: 0.8em;
    }
  }
}
