.btn {
  border: none;
  color: var(--c-neutral);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s all;

  &--big,
  &--wide {
    padding: 1rem 2rem;
    background-color: var(--c-primary);

    &:hover {
      background-color: var(--c-neutral);
      color: var(--c-primary);
    }
  }

  &--wide {
    padding: 1.2rem 3rem;
  }

  &--small {
    padding: 0.5rem 1rem;
    font-size: 0.8em;

    &:hover,
    &--selected {
      background-color: var(--c-primary);
      color: var(--c-neutral);
    }
  }
}
