@use '../utils/breakpoints';

body {
  font-family: 'Montserrat', sans-serif;
}

/*
 * Section headings
 */
.text-heading {
  margin-bottom: 2.5rem;
  font-size: 3.75rem;
  text-transform: uppercase;

  @include breakpoints.bp('md') {
    font-size: 3rem;
  }
}

/*
 * Section text below headers
 */
.text-section-desc {
  margin-bottom: 2rem;
  font-size: 0.8em;
  line-height: 2.2;
  max-width: calc(var(--wrapper-width) / 2 - var(--wrapper-h-pad) * 2);
}
